_svn/
.svn/
obj/
[Bb]in/
[Dd]ebug/   
[Rr]elease/   
_Re[Ss]harper.*
*.resharper
*.user
*.suo
*.cache
*~
*.swp
*.bak
*.patch
*.orig
[Tt]humbs.db

Lib/old
Frontend.Web.Utilities/aspnet_client/system_web/4_0_30319/*
*.ncrunchproject
