<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="FileUploadTempDirAbsolute" value="C:\Projects\Speak-Lib\Frontend.Web.Utilities\_tempFile\fileManagerTemp\"/>
		<add key="FileUploadTempDirRelative" value="~/_tempFile/fileManagerTemp"/>
		<add key="FileManagerExampleDirAbsolute" value="C:\Projects\Speak-Lib\Frontend.Web.Utilities\_tempFile\fileManagerExampleDir\"/>
		<add key="FileManagerExampleDirRelative" value="~/_tempFile/fileManagerExampleDir"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"></add>
				<add tagPrefix="speakFriend" namespace="SpeakFriend.FileUpload" assembly="SpeakFriend.FileUpload"></add>
				<add tagPrefix="speakFriend" namespace="SpeakFriend.Utilities" assembly="SpeakFriend.Utilities"></add>
				<add tagPrefix="uc" src="~/_userControls/Message.ascx" tagName="UserMessage"/>
			</controls>
		</pages>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
